@import url("colors.css");

/*
           _                         _
          | |                       | |
 __      _| | ___   __ _  ___  _   _| |_
 \ \ /\ / / |/ _ \ / _` |/ _ \| | | | __|
  \ V  V /| | (_) | (_| | (_) | |_| | |_
   \_/\_/ |_|\___/ \__, |\___/ \__,_|\__|
                    __/ |
                   |___/
*/

* {
	background-image: none;
	box-shadow: none;
}

window {
	background-color: rgba(0, 0, 0, 0.9);
}

button {
    border-radius: 25px;
	margin: 10px;
    border-color: @on_primary_container;
    color: #FFFFFF;
	background-color: transparent;
	border-style: solid;
	border-width: 5px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 25%;

	transition: all 0.25s ease;
}

button:focus, button:active, button:hover {
	color: #000000;
	background-color: @on_primary_container;
	outline-style: none;
	box-shadow: 0px 7px #ffffff;
	transition: all 0.25s ease;
}

#lock {
    background-image: image(url("/usr/share/wlogout/icons/lock.png"));
}

#logout {
    background-image: image(url("/usr/share/wlogout/icons/logout.png"));
}

#suspend {
    background-image: image(url("/usr/share/wlogout/icons/suspend.png"));
}

#hibernate {
    background-image: image(url("/usr/share/wlogout/icons/hibernate.png"));
}

#shutdown {
    background-image: image(url("/usr/share/wlogout/icons/shutdown.png"));
}

#reboot {
    background-image: image(url("/usr/share/wlogout/icons/reboot.png"));
}
